name: Trigger auto deployment for gym-api-gymapp1085

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/gym-api-gymapp1085-AutoDeployTrigger-7162d1d3-c78a-459d-a42b-17ddcf8ee33c.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.GYMAPIGYMAPP1085_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.GYMAPIGYMAPP1085_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.GYMAPIGYMAPP1085_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: gymacrgymapp1085.azurecr.io
          registryUsername: ${{ secrets.GYMAPIGYMAPP1085_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.GYMAPIGYMAPP1085_REGISTRY_PASSWORD }}
          containerAppName: gym-api-gymapp1085
          resourceGroup: gym-aca-rg-gymapp1085
          imageToBuild: gymacrgymapp1085.azurecr.io/gym-api-gymapp1085:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


